<div id="notebook">
    <div id="title">{{title}}</div>
  <div class="postits-box">
    <div *ngFor="let menu of menus; let i = index" class="postit {{menu[2]}}"><a [routerLink]="menu[1]" routerLinkActive="active">{{menu[0]}}</a></div>
  </div>
  <div class="pages">
      <router-outlet></router-outlet>
  </div>
</div>